/* .header-style {
  color: black;
} */
.header-style {
  font-family: 'Lobster', cursive;
  color: #686868;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#bg-img {
  opacity: 1.5;
  z-index: -1;
}
