/* .header-style {
  color: black;
} */
#apartment-div {
  font-family: 'Noto Sans', sans-serif;
  color: black;
	/* text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; */
}

#bg-img {
  opacity: 0.8;
  z-index: -1;
}
